.panel {
  margin: 10px;
}
.panel-label {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #00000012;
  border-radius: 2px;
  padding: 7px 12px 4px;
}
label {
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-weight: '500';
}
.disabled-span {
  font-family: 'Arial';
  font-weight: '500';
  color: #7A8994;
}
